extends layout

block content

  h1= title
  p.timer 0:00

  div(class="player1")
    h2 player 1
    div(id = "battlefield1" class = "div-onclick")


  div(class="player2")
    h2 player 2
    div(id = "battlefield2" class = "div-onclick")



  script(src="/js/my-scripts.js")





